/*CSS DOCUMENT */
body{
    background-color: rgb(242,248,255);
    font-family: sans-serif;
    font-style: italic
}
h1{
    color: rgb(93,113,139);
    font-size: 3em;
    font-family: serif;
    margin: 1em 1em 1em 1.5em; 
    padding:0em 0em 0em 0em;
}
h2{
    color: rgb(70,82,97);
    font-size: 2em;
}
h3{
    color: rgb(51,74,105);
    font-size:1.5em;
}
h4{
    color: rgb(119,136,153);
    font-size:1.2em;
    margin: .5em 0em .2em 0em;
}
h5{
    color: rgb(96,96,96);
    margin: .2em;
    font-size: 1em;
}
h6{
    font-size: .9em;
    margin: .5em 0em 3em 0em;
}