/*CSS document*/
@import url("https://use.typekit.net/daf4cds.css");

img {
    width; 100%;
}

header {
        margin-bottom: 1em;
}

body {
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #FFFFFF;
}

div.container {
    max-width: 70em;
    margin: auto;
}

div.container-form {
	max-width: 70em;
	margin: auto;
}

section {
    max-width: 40em;
    margin: 0 auto .5em;
}

aside {
    display: block;
    padding-top: 0%;
}

figure {
    margin: 1 em 0em 1em 0em;
    margin: auto;
}



h1 {
    width: 40%;
    padding: 0;
}

h2{
    font-family: hwt-artz, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
    letter-spacing: .04em;
    line-height: 1em;
    color: #777DA7;
}

h3{
    font-family: hwt-artz, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
    letter-spacing: .04em;
    line-height: 1em;
    color: #777DA7;
    margin-bottom: 0em;
}

main {
    margin: 0em;
}
main a {
    text-decoration: none;
    color: #625E5E;
    padding: 0;
}
aside a {
    text-decoration: none;
    color: #625E5E;
    padding: 0;
}


/*article*/

img {
    width: 100%;
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
}

/*nav bar*/
nav ul {
    padding: 0;
    word-spacing: 3em;
    font-size: 1.5em;
}

nav ul li {
    display: inline;
    list-style-type: none;
    font-family: hwt-artz, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .05em;
}

nav ul li a{
    text-decoration: none;
    color: #885053;
}

nav ul li a:hover{
    color: #D5573B;
}

/*responsive screen size*/
@media screen and (min-width: 60em) {
    
    div.container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 2em;
    }
    
    header{
		grid-column: 1/3;
	}
    
    main {
		grid-column: 1/2;
		display: grid;
		grid-template-columns: repeat(3,1fr);
		grid-gap: 0 2em;
	}
    
    header img {
		max-width: 60%;
	}
    aside {
		grid-column: 2/3;
    }
    
    section.mainstory {
        display: grid;
        grid-column: 2/4;
        grid-row: 1/3;
    }
main.newsletter {
		display: block;
	}

/*photo gallery */
div.container-photos {
  max-width: 60em;
  margin: auto;
  padding: .5em;
}

nav {
  display: flex;
  flex-wrap: wrap;
}

nav.nav-photos {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: .3em;
    object-fit: cover;
}

label {
  flex: 1 0 20em;
}

input {
  display: none;
}

figure.gallery {
  margin: 0;
  width: calc(90%-2em);
  opacity: 0;
  position: absolute;
  transition: opacity .5s;
}

main.photos {
  width: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
  padding-bottom: calc(58% + 3em);
}

input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8){
    opacity: 1;
}

/*newsletter*/
button {
  border-radius: 4px;
  background-color: #885053;
  border: none;
  color: #FFFFFF;
  text-align: left;
  font-size: 15px;
  font-family:mr-eaves-xl-modern, sans-serif;
  padding: 10px;
  cursor: pointer;
}

.button ul li a:hover{
    color: #D5573B;
}
    
section.personal-info {
    margin: 0em 0em 1em 0em;
    }
section.personal-info ul li {
	display: flex;
	margin-bottom: .5em;
}
    
section.personal-info ul li label {
	flex: 0 0 5em;
}

    section.form ul li {
        display: flex;
    }
    
    section.form ul li label {
    flex: 0 0 15em;
    }
.personal-info ul li input[type="text"],
.personal-info ul li select {
	flex: 4 0 20em;
    display: inline-block;
}

    .form ul li input[type="checkbox"],
    section,form {
    margin: 0em 1em .5em 0em;
    display: block;
    }
    
    section.box {
    margin: 0em 0em 1em 0em;
    font-family: hwt-artz, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2em;
    letter-spacing: .04em;
    color: #885053;
    }
    
textarea {
  min-width: 42em;
  min-height: 8em;
  display: block;
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

form{
    margin: auto;
    }
    
ul {
	padding: 0;
	list-style-type: none;
}
div.container-form {
  max-width: 55em;
  margin: auto
}
