/*CSS document*/
@import url("https://use.typekit.net/daf4cds.css");

img {
    width; 100%;
}

header {
        margin-bottom: 1em;
}

body {
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #FCF6F6;
}

div.container {
    max-width: 70em;
    margin: auto;
}

section {
    max-width: 40em;
    margin: 0 auto .5em;
}

aside {
    display: block;
    padding-top: 0%;
}

figure {
    margin: 1 em 0em 1em 0em;
    margin: auto;
}



h1 {
    width: 40%;
    padding: 0;
}

h2{
    font-family: hwt-artz, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
    letter-spacing: .04em;
    line-height: 1em;
    color: #777DA7;
}

h3{
    font-family: hwt-artz, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
    letter-spacing: .04em;
    line-height: 1em;
    color: #777DA7;
    margin-bottom: 0em;
}

main {
    margin: 0em;
}
main a {
    text-decoration: none;
    color: #625E5E;
    padding: 0;
}
aside a {
    text-decoration: none;
    color: #625E5E;
    padding: 0;
}

/*article*/

img {
    width: 100%;
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
}

/*nav bar*/
nav ul {
    padding: 0;
    word-spacing: 3em;
    font-size: 1.5em;
}

nav ul li {
    display: inline;
    list-style-type: none;
    font-family: hwt-artz, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .05em;
}

nav ul li a{
    text-decoration: none;
    color: #885053;
}

nav ul li a:hover{
    color: #D5573B;
}

/*responsive screen size*/
@media screen and (min-width: 60em) {
    
    div.container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 2em;
    }
    
    header{
		grid-column: 1/3;
	}
    
    main {
		grid-column: 1/2;
		display: grid;
		grid-template-columns: repeat(3,1fr);
		grid-gap: 0 2em;
	}
    
    header img {
		max-width: 60%;
	}
    aside {
		grid-column: 2/3;
    }
    
    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/3;
    }
